html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* html,
body {
    height: 105%;
    width: 100%;
    margin: 0;
} */

html {
    font-size: 125%;
    background-image: url(./assets/dark-green-blurred-colorful-background-vector.jpg);
    background-size: cover;
    background-repeat: repeat;
    overflow-x: hidden;

    /* height: 105%;
    width: 100%;
    margin: 0; */
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

body {
    border: 20px double rgb(86, 86, 86);
    --h1LoadTime: 1s;
/* 
    height: 100%;
    width: 100%;
    margin: 0; */
}

@keyframes h1Load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes divdecoration {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1, h2, h3, p, a {
    font-family: 'Great Vibes', cursive;
}

h1 {
    margin: 10% 0% 0% -4%;
    font-size: 7.3rem;
    position: relative;
    color:rgb(123, 89, 53);
    animation: h1Load var(--h1LoadTime) ease-out;
}

h2 {
    margin-top: 0%;
    font-size: 3rem;
    position: absolute;
    /* top: 18%; */
    top: 45%;
    right: 19%;
    color: rgb(94, 94, 94);
    opacity: 0;
    animation: h1Load var(--h1LoadTime) ease-out var(--h1LoadTime);
    animation-fill-mode: forwards;
}

.divy {
    margin: -8% auto -18% auto;
    width: 40%;
    display: block;
    opacity: 0;
    animation: divdecoration 2s ease-out 1.5s;
    animation-fill-mode: forwards;
}

heading {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 2.5rem;
    color:rgb(123, 89, 53);
    text-align: center;
    margin-bottom: -2%;
    opacity: 0;
    animation: h1Load var(--h1LoadTime) ease-out 2.2s;
    animation-fill-mode: forwards;
}

.present {
    color: rgb(164, 164, 164);
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -12%;
    opacity: 0;
    animation: divdecoration 2s ease-out 2.5s;
    animation-fill-mode: forwards;
}

.daniel,
.ben {
    border-radius: 5%;
    width: 100%;
    margin-top: -20%;
    box-shadow: -1px 1px 1px rgb(56, 59, 54), 1px 0px 20px 8px rgb(56, 59, 54);
}

.dPhoto,
.bPhoto {
    height: 500px;
    width: 360px;
}

.dPhoto {
    width: 353px;
}

.danielP, 
.benP,
.rsvp, a {
    font-size: 1.5rem;
    color:rgb(123, 89, 53);
    justify-content: space-evenly;
    display: flex;
}

.danielP {
    margin-bottom: -1%;
    font-weight: 600;
    padding: 9%;
}

.danielWeb {
    text-decoration: none;
}

.rsvp {
    margin-bottom: 4%;
    color: rgb(164, 164, 164);
    text-decoration: none;
    opacity: 0;
    animation: divdecoration 2s ease-out 2.5s;
    animation-fill-mode: forwards;
    font-size: 3rem;
    margin-top: 1%;
}

.divy2 {
    margin: -12% auto 7% auto;
    width: 40%;
    display: block;
    opacity: 0;
    animation: divdecoration 2s ease-out 2.5s;
    animation-fill-mode: forwards;
}

.info {
    margin-top: -14%;
}

.dontation p {
    padding-top: 5%;
    font-size: 1.4rem;
}

.box {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.box.disappear {
    opacity: 0;
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* media queries */
@media (max-width: 1500px) {
    h2 {
        font-size: 2rem;
        top: 16%;
        /* top: 40%; */
        right: 11%;
    }

    .rsvp {
        margin-bottom: 30%;
    }
}

@media (max-width: 1160px) {
    h2 {
        top: 15%;
    }
    h1 {
        font-size: 7rem;
    }

}

@media (max-width: 1100px) {
    h2 {
        top: 13%;
    }

    h1 {
        font-size: 6rem;
    }
    .rsvp {
        margin-bottom: 50%;
    }
}

@media (max-width: 950px) {
    h2 {
        top: 11%;
    }

    h1 {
        font-size: 5rem;
    }

    .rsvp {
        /* margin: 6% 30% 48% 0%; */
        margin: 6% 11% 30% 0%;
        
    }

    .flexy {
        flex-direction: column;
        margin: -8% 0 -5% 20%;
    }

    .dPhoto, 
    .bPhoto {
        margin-bottom: 10%;
    }
}

@media (max-width: 810px) {
    h2 {
        top: 9%;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 4rem;
    }

    .rsvp {
        margin: 6% 5% 30% 0%;
    }
}

@media (max-width: 700px) {
    .rsvp {
        margin: 6% 0% 30% 0%;
    }

    p {
        font-size: 2rem;
    }

    .flexy {
        margin: 0% 0 -5% 17%;
    }

    .divy2 {
        margin: -14% auto 7% auto;
    }
}

@media (max-width: 655px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1rem;
        top: 7%;
    }
    p {
        font-size: 1.7rem;
    }

    .flexy {
        margin: 0% 0 -5% 13%;
    }
    .divy {
        margin: -5% auto -18% auto;
    }
}

@media (max-width: 575px) {
    .bPhoto {
        margin-top: 15%;
    }

    .flexy {
        margin: 0% 0 -5% 10%;
    }
}

@media (max-width: 500px) {
    .flexy {
        margin: -30% 0 -5% 0%;
        transform: scale(.8);
    }
    .rsvp {
        font-size: 2rem;
        margin: -30% 0% 80% 0%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        top: 6%;
    }
}

@media (max-width: 450px) {
    h2 {
        top: 5.5%;
    }
    .flexy {
        margin: -30% 0 -5% -5%;
    }

    .rsvp {
        margin: -30% 0% 90% 0%;
    }
}

@media (max-width: 400px) {
   .divy {
      margin: 0% auto -18% auto;
   }

   .flexy {
    margin: -30% 0 -5% -9%;
    transform: scale(.7);
   }

   h2 {
    font-size: .8rem;
   }
}